.container {
	max-width: 960px !important;
}
.hrefs_img {
	width: 80%;
	max-width: 400px;
}
.network_img {
	width: 40px;
}
.header_logo {
	width: 100px;
}
.footer_logo {
	width: 80px;
}
.table_column, .table_row {
    height: 20px;
    font-size: 20px;
}
.table_column {
    width: 25px;
}
.table_row:nth-child(2n) {
    background-color: rgb(175, 155, 155);
}
.table {
	width: 400px !important;
}
.table_name {
	text-align: center;
}